[user]
    name = guiferviz
    email = guiferviz@gmail.com
[alias]
    s = status
    p = push origin master
    d = diff
    de = diff --cached
    c = commit -m
    gist = !"git commit -a -m 'Updating gist.' && git push origin master"

